body{
    background-image: url(./images/cielEtoile.jpg);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.starwarsText{
    display: flex;
    justify-content: center;
    text-align: justify;
    color: #feda4a;
    font-family: 'Pathway Gothic one', sans-serif;
    font-size: 400%;
    font-weight: 600;
    transform: perspective(400px) rotateX(20deg);
    margin-top: 8000px;
    animation: crawl 80s linear;
}
@keyframes crawl{
    0%{
        margin-top: 0;

    }
    100%{
        margin-top: -8000px;
        transform: rotateX(80deg) translateZ(-2500px)
    }
}